---
import Layout from '../components/layout.astro';
---

<Layout
  title="Deploy Previews"
  description="See and share your changes in a production environment so you can ship with confidence. Gather feedback in your preferred project management tool right through your Deploy Previews!"
>
  <main>
    <h2>This is a Deploy Preview.</h2>
    <p id="font_arial">This is in arial</p>
    <p id="font_downloaded">This is in a downloaded font</p>
    <p id="font_base64">This is in a base64 imported font</p>
  </main>

</Layout>
